/*!
 * ress.css • v1.2.2
 * MIT License
 * github.com/filipelinhares/ress
 */html{box-sizing:border-box;overflow-y:scroll;-webkit-text-size-adjust:100%}*,:after,:before{background-repeat:no-repeat;box-sizing:inherit}:after,:before{text-decoration:inherit;vertical-align:inherit}*{padding:0;margin:0}audio:not([controls]){display:none;height:0}hr{overflow:visible}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}summary{display:list-item}small{font-size:80%}[hidden],template{display:none}abbr[title]{border-bottom:1px dotted;text-decoration:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}code,kbd,pre,samp{font-family:monospace,monospace}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}input{border-radius:0}[role=button],[type=button],[type=reset],[type=submit],button{cursor:pointer}[disabled]{cursor:default}[type=number]{width:auto}[type=search]{-webkit-appearance:textfield}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;resize:vertical}button,input,optgroup,select,textarea{font:inherit}optgroup{font-weight:700}button{overflow:visible}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:0;padding:0}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button:-moz-focusring{outline:1px dotted ButtonText}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}button,select{text-transform:none}button,input,select,textarea{background-color:transparent;border-style:none;color:inherit}select{-moz-appearance:none;-webkit-appearance:none}select::-ms-expand{display:none}select::-ms-value{color:currentColor}legend{border:0;color:inherit;display:table;max-width:100%;white-space:normal}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}img{border-style:none}progress{vertical-align:baseline}svg:not(:root){overflow:hidden}audio,canvas,progress,video{display:inline-block}@media screen{[hidden~=screen]{display:inherit}[hidden~=screen]:not(:active):not(:focus):not(:target){position:absolute!important;clip:rect(0 0 0 0)!important}}[aria-busy=true]{cursor:progress}[aria-controls]{cursor:pointer}[aria-disabled]{cursor:default}::-moz-selection{background-color:#b3d4fc;color:#000;text-shadow:none}::selection{background-color:#b3d4fc;color:#000;text-shadow:none}
@charset "UTF-8";
html {
  font-size: 62.5%; }

body {
  font-family: Garamond, "Hiragino Mincho ProN", YuMincho, "HGP明朝B", serif;
  font-weight: 200;
  color: #333; }

a {
  text-decoration: none; }
  @media screen and (min-width: 768px) {
    a {
      transition: all .2s ease; }
      a:hover {
        opacity: .8; } }

@media screen and (min-width: 768px) {
  button {
    transition: all .2s ease; }
    button:hover {
      opacity: .8; } }

.page {
  background-color: #000; }
  .page__header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1; }
  .page__videoController {
    position: fixed;
    top: 4px;
    right: 8px;
    z-index: 2; }
  .page__contents {
    display: flex;
    justify-content: center;
    position: relative; }
    .page__contents:last-of-type {
      padding-bottom: 60px; }
    .page__contents--top {
      height: 100vh;
      align-items: center;
      background: none; }
    .page__contents--detailTop {
      padding-top: 80px; }
  .page__video {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; }
  .page__footer {
    margin-top: 100px; }

.header {
  padding: 4px 20px 32px;
  background: linear-gradient(rgba(0, 0, 0, 0.6) 50%, transparent 100%); }
  @media screen and (min-width: 768px) {
    .header {
      padding-right: 40px; } }
  @media screen and (min-width: 1048px) {
    .header {
      padding-right: 20px;
      display: flex;
      justify-content: center; } }
  @media screen and (min-width: 768px) {
    .header__flexWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center; } }
  @media screen and (min-width: 1048px) {
    .header__flexWrapper {
      width: 1048px; } }
  .header__logo {
    margin-bottom: 20px;
    display: block;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: .3rem; }
    @media screen and (min-width: 768px) {
      .header__logo {
        font-size: 2rem;
        margin-bottom: 0; } }

.videoController {
  position: relative; }
  .videoController__button {
    position: absolute;
    top: 0;
    right: 0;
    transition: all .5s ease;
    width: 28px;
    height: 28px;
    text-indent: -9999px;
    outline: none; }
    .videoController__button::before, .videoController__button::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 1px; }
    .videoController__button--play {
      opacity: 0;
      pointer-events: none; }
      .videoController__button--play::before {
        border-style: solid;
        border-width: 8px 20px;
        border-color: transparent;
        border-left-color: #fff;
        margin-left: 10px; }
    .videoController__button--pause {
      opacity: 1; }
      .videoController__button--pause::before, .videoController__button--pause::after {
        width: 6px;
        height: 20px;
        background-color: #fff; }
      .videoController__button--pause::before {
        margin-left: -6px; }
      .videoController__button--pause::after {
        margin-left: 6px; }

.globalNavList {
  display: flex;
  list-style-type: none; }
  .globalNavList__item {
    margin-right: 20px; }
    .globalNavList__item:last-child {
      margin-right: 0; }
  .globalNavList__link {
    color: #fff;
    font-size: 1.4rem;
    letter-spacing: .2rem; }
    .globalNavList__link--disabled {
      pointer-events: none;
      opacity: .8; }
    @media screen and (min-width: 768px) {
      .globalNavList__link {
        font-size: 1.6rem; } }

.contents {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: #fff; }
  .contents--top {
    padding-top: 40px; }
  @media screen and (min-width: 768px) {
    .contents {
      padding: 20px 0;
      width: 600px; } }
  .contents__link {
    display: block;
    margin-bottom: 60px; }
    @media screen and (min-width: 768px) {
      .contents__link {
        margin-bottom: 120px; } }
  .contents__name, .contents__mainLogo {
    color: #fff; }
  .contents__name {
    margin-bottom: 24px;
    font-size: 1.2rem;
    font-weight: 200;
    letter-spacing: .6rem;
    text-indent: .8rem;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .contents__name {
        margin-bottom: 32px;
        font-size: 1.8rem;
        letter-spacing: 1.3rem;
        text-indent: 1.6rem; } }
  .contents__mainLogo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300; }
  .contents__logoBlock {
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    width: 280px; }
    @media screen and (min-width: 768px) {
      .contents__logoBlock {
        margin-bottom: 40px;
        width: 520px; } }
  .contents__logoChar {
    display: block;
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", YuGothic, sans-serif;
    font-size: 8rem;
    font-weight: 400;
    line-height: 1; }
    @media screen and (min-width: 768px) {
      .contents__logoChar {
        font-size: 15rem;
        font-weight: 300; } }
  .contents__title {
    display: block;
    line-height: 1;
    text-align: center;
    letter-spacing: 1rem;
    font-size: 1.6rem;
    font-weight: 600; }
    @media screen and (min-width: 768px) {
      .contents__title {
        font-size: 2rem;
        letter-spacing: 2rem; } }
  .contents__text {
    margin-bottom: 4px;
    text-align: center; }
    .contents__text:last-child {
      margin-bottom: 0; }
    @media screen and (min-width: 768px) {
      .contents__text {
        display: flex;
        justify-content: center;
        font-size: 1.2rem; }
        .contents__text:last-child {
          margin-right: 0; } }
  .contents__textBlock {
    margin-bottom: 2px;
    display: block; }
    .contents__textBlock:last-child {
      margin-bottom: 0; }
    @media screen and (min-width: 768px) {
      .contents__textBlock {
        margin: 0 20px 0 0; }
        .contents__textBlock:last-child {
          margin-right: 0; } }
  .contents__descWrapper {
    margin-bottom: 40px;
    width: 100%; }
    .contents__descWrapper:last-child {
      margin-bottom: 0; }
  .contents__nav {
    width: 100%; }
    @media screen and (min-width: 768px) {
      .contents__nav {
        width: 500px; } }

.navList {
  list-style: none;
  display: flex;
  justify-content: space-between; }
  .navList__item:last-child {
    margin-right: 0; }

.navButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: none; }
  .navButton--disabled {
    opacity: .6;
    pointer-events: none; }
  .navButton__text {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: .1rem; }
    @media screen and (min-width: 768px) {
      .navButton__text {
        font-size: 2rem; } }

.mainDesc__title {
  margin-bottom: 12px;
  line-height: 1.4;
  font-size: 2rem;
  font-weight: 600; }
  @media screen and (min-width: 768px) {
    .mainDesc__title {
      margin-bottom: 20px; } }

.mainDesc__text {
  margin-bottom: 8px;
  font-size: 1.4rem;
  line-height: 2; }
  .mainDesc__text--emphasis {
    font-size: 1.6rem; }
  .mainDesc__text:last-child {
    margin-bottom: 0; }

.about {
  width: 100%;
  padding: 20px;
  color: #fff; }
  @media screen and (min-width: 768px) {
    .about {
      width: 80%; } }
  @media screen and (min-width: 1048px) {
    .about {
      width: 1048px; } }
  .about__title {
    margin-bottom: 20px;
    font-size: 1.6rem;
    letter-spacing: .5rem; }
    @media screen and (min-width: 768px) {
      .about__title {
        font-size: 1.8rem; } }

.aboutTable {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }
  .aboutTable__head, .aboutTable__data {
    padding: 8px 0; }
  .aboutTable__head {
    padding-top: 10px;
    width: 64px;
    font-size: 1rem;
    text-align: left;
    vertical-align: top;
    line-height: 1.6; }
    .aboutTable__head--sub {
      padding-top: 8px;
      width: 48px; }
      @media screen and (min-width: 768px) {
        .aboutTable__head--sub {
          width: 48px; } }
    @media screen and (min-width: 768px) {
      .aboutTable__head {
        width: 72px;
        font-size: 1.2rem; } }
  .aboutTable__text {
    margin-bottom: 4px;
    font-size: 1.2rem;
    line-height: 1.6; }
    @media screen and (min-width: 768px) {
      .aboutTable__text {
        font-size: 1.4rem; } }
    .aboutTable__text--sub {
      display: flex;
      font-size: 1rem;
      margin-bottom: 2px; }
      @media screen and (min-width: 768px) {
        .aboutTable__text--sub {
          font-size: 1.2rem; } }
    .aboutTable__text:last-child {
      margin-bottom: 0; }
  .aboutTable__labelText {
    display: block;
    width: 120px;
    flex-shrink: 0;
    vertical-align: top; }
    .aboutTable__labelText:last-child {
      width: auto;
      flex-shrink: 1; }
    @media screen and (min-width: 768px) {
      .aboutTable__labelText {
        width: 144px; } }
  .aboutTable__subText {
    font-size: 1rem;
    margin-left: 8px; }
    .aboutTable__subText--prefix {
      margin: 0 8px 0 0; }
  .aboutTable__link {
    color: #fff;
    font-weight: 600; }
  .aboutTable__mobileBreak {
    display: block; }
    @media screen and (min-width: 768px) {
      .aboutTable__mobileBreak {
        display: none; } }

@media screen and (min-width: 1048px) {
  .member {
    display: flex;
    justify-content: space-between; } }

.member__item {
  margin-bottom: 40px; }
  .member__item:last-child {
    margin-bottom: 0; }
  @media screen and (min-width: 1048px) {
    .member__item {
      width: 320px;
      flex-shrink: 0; } }

.member__name {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 200; }
  @media screen and (min-width: 768px) {
    .member__name {
      font-size: 1.6rem; } }

.member__nameSub {
  margin-bottom: 12px;
  font-size: 1.4rem;
  letter-spacing: .2rem; }
  @media screen and (min-width: 768px) {
    .member__nameSub {
      font-size: 1.6rem; } }

.member__profile {
  margin-bottom: 12px; }

.member__link {
  margin-left: 8px;
  display: block;
  width: 20px;
  height: 20px; }

.member__linkObject {
  pointer-events: none; }

.footer {
  padding: 20px;
  height: 80px;
  display: flex;
  justify-content: center;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.6)); }
  .footer__copy {
    font-size: 1.2rem;
    color: #fff;
    width: 100%;
    letter-spacing: .4rem; }
    @media screen and (min-width: 768px) {
      .footer__copy {
        width: 1048px; } }

.js-toggleHeader {
  transition: all .5s ease;
  transform: translateY(-100%); }
  .js-toggleHeader.show {
    transform: translateY(0); }

.js-youtube {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 1s ease;
  opacity: 0; }
  .js-youtube.show {
    opacity: 1; }
