.contents {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: $white-l;
  &--top {
    padding-top: 40px;
  }
  @include mq() {
    padding: 20px 0;
    width: 600px;
  }
  &__link {
    display: block;
    margin-bottom: 40px;
    @include mq() {
      margin-bottom: 100px;
      width: 100%;
    }
  }
  &__title {
    width: 100%;
  }
  &__img {
    width: 100%;
  }
  &__text {
    margin-bottom: 4px;
    text-align: center;
    &:last-child {
      margin-bottom: 0;
    }
    @include mq() {
      display: flex;
      justify-content: center;
      font-size: 1.2rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__textBlock {
    margin-bottom: 2px;
    display: block;
    &:last-child {
      margin-bottom: 0;
    }
    @include mq() {
      margin: 0 20px 0 0;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__descWrapper {
    margin-bottom: 40px;
    width: 100%;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__nav {
    width: 100%;
    @include mq() {
      width: 600px;
    }
  }
}
