.footer {
  padding: 20px;
  height: 80px;
  display: flex;
  justify-content: center;
  background: linear-gradient(transparent, rgba($black-d, .6));
  &__copy {
    font-size: 1.2rem;
    color: $white-l;
    width: 100%;
    letter-spacing: .4rem;
    @include mq() {
      width: 1048px;
    }
  }
}
