.mainDesc {
  &__title {
    margin-bottom: 12px;
    line-height: 1.4;
    font: {
      size: 2rem;
      weight: 600;
    }
    @include mq() {
      margin-bottom: 20px;
    }
  }
  &__text {
    margin-bottom: 8px;
    font-size: 1.4rem;
    line-height: 2;
    &--emphasis {
      font-size: 1.6rem;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
