@charset "UTF-8";
html {
  font-size: 62.5%; }

body {
  font-family: Garamond, "Hiragino Mincho ProN", YuMincho, "HGP明朝B", serif;
  font-weight: 200;
  color: #ccc; }

a {
  color: #fff;
  text-decoration: none; }
  @media screen and (min-width: 768px) {
    a {
      transition: all .2s ease; }
      a:hover {
        opacity: .8; } }

@media screen and (min-width: 768px) {
  button {
    transition: all .2s ease; }
    button:hover {
      opacity: .8; } }

img {
  vertical-align: text-bottom; }

.page {
  background-color: #000; }
  .page__header {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1; }
    @media screen and (min-width: 601px) {
      .page__header--isAdmin {
        top: 46px; } }
    @media screen and (min-width: 783px) {
      .page__header--isAdmin {
        top: 32px; } }
  .page__main {
    min-height: calc(100vh - 66px - 180px); }
    .page__main--top {
      position: relative;
      top: -96px; }
      @media screen and (min-width: 768px) {
        .page__main--top {
          top: -66px; } }
    .page__main--isAdmin {
      min-height: calc(100vh - 32px - 66px - 180px); }
  .page__contents {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative; }
    .page__contents:last-of-type {
      padding-bottom: 60px; }
    .page__contents--top {
      height: 100vh;
      justify-content: center;
      background: none; }
    .page__contents--article {
      padding: 0 20px 60px;
      display: block; }
      @media screen and (min-width: 768px) {
        .page__contents--article {
          padding: 0 0 60px 0;
          display: flex; } }
  .page__content {
    width: 100%; }
    .page__content:not(:last-child) {
      margin-bottom: 20px; }
    @media screen and (min-width: 768px) {
      .page__content {
        width: 600px; }
        .page__content--card {
          width: 100%; } }
    @media screen and (min-width: 1048px) {
      .page__content--card {
        width: 1048px; } }
  .page__video {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; }
  .page__categoryTitle {
    padding: 0 20px;
    width: 100%;
    font-size: 3.2rem;
    font-weight: 300; }
  .page__footer {
    margin-top: 100px; }

.header {
  padding: 4px 20px 32px;
  background: linear-gradient(rgba(0, 0, 0, 0.6) 50%, transparent 100%); }
  @media screen and (min-width: 768px) {
    .header {
      padding-right: 40px; } }
  @media screen and (min-width: 1048px) {
    .header {
      padding-right: 20px;
      display: flex;
      justify-content: center; } }
  @media screen and (min-width: 768px) {
    .header__flexWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center; } }
  @media screen and (min-width: 1048px) {
    .header__flexWrapper {
      width: 1048px; } }
  .header__logo {
    margin-bottom: 20px;
    display: block;
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: .3rem; }
    @media screen and (min-width: 768px) {
      .header__logo {
        font-size: 2rem;
        margin-bottom: 0; } }

.globalNavList {
  display: flex;
  list-style-type: none; }
  .globalNavList__item {
    margin-right: 20px; }
    .globalNavList__item:last-child {
      margin-right: 0; }
  .globalNavList__link {
    font-size: 1.4rem;
    letter-spacing: .2rem; }
    .globalNavList__link--disabled {
      pointer-events: none;
      opacity: .8; }
    @media screen and (min-width: 768px) {
      .globalNavList__link {
        font-size: 1.6rem; } }

.contents {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }
  .contents--top {
    margin-top: -100px; }
    @media screen and (min-width: 768px) {
      .contents--top {
        margin-top: 0; } }
  @media screen and (min-width: 768px) {
    .contents {
      padding: 20px 0;
      width: 600px; } }
  .contents__link {
    display: block;
    margin-bottom: 40px; }
    @media screen and (min-width: 768px) {
      .contents__link {
        margin-bottom: 100px;
        width: 100%; } }
  .contents__title {
    width: 100%; }
  .contents__img {
    width: 100%; }
  .contents__text {
    margin-bottom: 4px;
    text-align: center; }
    .contents__text:last-child {
      margin-bottom: 0; }
    @media screen and (min-width: 768px) {
      .contents__text {
        display: flex;
        justify-content: center;
        font-size: 1.2rem; }
        .contents__text:last-child {
          margin-right: 0; } }
  .contents__textBlock {
    margin-bottom: 2px;
    display: block; }
    .contents__textBlock:last-child {
      margin-bottom: 0; }
    @media screen and (min-width: 768px) {
      .contents__textBlock {
        margin: 0 20px 0 0; }
        .contents__textBlock:last-child {
          margin-right: 0; } }
  .contents__descWrapper {
    margin-bottom: 40px;
    width: 100%; }
    .contents__descWrapper:last-child {
      margin-bottom: 0; }
  .contents__nav {
    width: 100%; }
    @media screen and (min-width: 768px) {
      .contents__nav {
        width: 600px; } }

.navList {
  list-style: none;
  display: flex;
  justify-content: space-between; }
  .navList__item:last-child {
    margin-right: 0; }

.navButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: none; }
  .navButton--disabled {
    opacity: .6;
    pointer-events: none; }
  .navButton__text {
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: .1rem; }
    @media screen and (min-width: 768px) {
      .navButton__text {
        font-size: 2.4rem; } }

.mainDesc__title {
  margin-bottom: 12px;
  line-height: 1.4;
  font-size: 2rem;
  font-weight: 600; }
  @media screen and (min-width: 768px) {
    .mainDesc__title {
      margin-bottom: 20px; } }

.mainDesc__text {
  margin-bottom: 8px;
  font-size: 1.4rem;
  line-height: 2; }
  .mainDesc__text--emphasis {
    font-size: 1.6rem; }
  .mainDesc__text:last-child {
    margin-bottom: 0; }

.about {
  width: 100%;
  padding: 20px; }
  @media screen and (min-width: 768px) {
    .about {
      width: 80%; } }
  @media screen and (min-width: 1048px) {
    .about {
      width: 1048px; } }
  .about__title {
    margin-bottom: 20px;
    font-size: 1.6rem;
    letter-spacing: .5rem; }
    @media screen and (min-width: 768px) {
      .about__title {
        font-size: 1.8rem; } }

.aboutTable {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }
  .aboutTable__head, .aboutTable__data {
    padding: 8px 0; }
  .aboutTable__head {
    padding-top: 10px;
    width: 64px;
    font-size: 1rem;
    text-align: left;
    vertical-align: top;
    line-height: 1.6; }
    .aboutTable__head--sub {
      padding-top: 8px;
      width: 48px; }
      @media screen and (min-width: 768px) {
        .aboutTable__head--sub {
          width: 48px; } }
    @media screen and (min-width: 768px) {
      .aboutTable__head {
        width: 72px;
        font-size: 1.2rem; } }
  .aboutTable__text {
    margin-bottom: 4px;
    font-size: 1.2rem;
    line-height: 1.6; }
    @media screen and (min-width: 768px) {
      .aboutTable__text {
        font-size: 1.4rem; } }
    .aboutTable__text--sub {
      display: flex;
      font-size: 1rem;
      margin-bottom: 2px; }
      @media screen and (min-width: 768px) {
        .aboutTable__text--sub {
          font-size: 1.2rem; } }
    .aboutTable__text:last-child {
      margin-bottom: 0; }
  .aboutTable__labelText {
    display: block;
    width: 120px;
    flex-shrink: 0;
    vertical-align: top; }
    .aboutTable__labelText:last-child {
      width: auto;
      flex-shrink: 1; }
    @media screen and (min-width: 768px) {
      .aboutTable__labelText {
        width: 144px; } }
  .aboutTable__subText {
    font-size: 1rem;
    margin-left: 8px; }
    .aboutTable__subText--prefix {
      margin: 0 8px 0 0; }
  .aboutTable__link {
    font-weight: 600; }
  .aboutTable__mobileBreak {
    display: block; }
    @media screen and (min-width: 768px) {
      .aboutTable__mobileBreak {
        display: none; } }

@media screen and (min-width: 1048px) {
  .member {
    display: flex;
    justify-content: space-between; } }

.member__item {
  margin-bottom: 40px; }
  .member__item:last-child {
    margin-bottom: 0; }
  @media screen and (min-width: 1048px) {
    .member__item {
      width: 320px;
      flex-shrink: 0; } }

.member__name {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 200; }
  @media screen and (min-width: 768px) {
    .member__name {
      font-size: 1.6rem; } }

.member__nameSub {
  margin-bottom: 12px;
  font-size: 1.4rem;
  letter-spacing: .2rem; }
  @media screen and (min-width: 768px) {
    .member__nameSub {
      font-size: 1.6rem; } }

.member__profile {
  margin-bottom: 12px; }

.member__link {
  margin-left: 8px;
  display: block;
  width: 20px;
  height: 20px; }

.member__linkObject {
  pointer-events: none; }

.blogList {
  width: 100%;
  padding: 20px;
  list-style: none; }
  .blogList__item:not(:last-child) {
    border-bottom: 1px solid #333; }
  .blogList__link {
    padding: 12px 0;
    display: flex;
    align-items: center; }
  .blogList__title {
    font-size: 3.2rem;
    font-weight: 200; }
  .blogList__headline {
    margin-bottom: 12px;
    font-size: 1.2rem;
    color: #ddd; }
  .blogList__date {
    font-size: 1.4rem; }
  .blogList__imgWrapper {
    margin-right: 12px; }
    .blogList__imgWrapper img {
      width: 120px;
      height: 120px;
      object-fit: cover;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 4px; }

@media screen and (min-width: 768px) {
  .article {
    width: 600px; } }

.article__title {
  margin-bottom: 20px;
  font-size: 3.2rem;
  font-weight: 200;
  line-height: 1.2; }

.article__content:not(:last-of-type) {
  margin-bottom: 20px; }

.article__date {
  font-size: 1.2rem; }

.article__prevNext {
  margin: 0 -20px; }
  @media screen and (min-width: 768px) {
    .article__prevNext {
      margin: 0; } }
  .article__prevNext::before, .article__prevNext::after {
    content: "";
    display: table; }
  .article__prevNext::after {
    clear: both; }

.article__prev, .article__next {
  width: 50%;
  display: block;
  position: relative;
  overflow: hidden; }
  @media screen and (min-width: 768px) {
    .article__prev, .article__next {
      width: 160px; } }
  .article__prev::before, .article__next::before {
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    position: absolute;
    top: 50%;
    z-index: 1; }

.article__prev {
  float: left; }
  @media screen and (min-width: 768px) {
    .article__prev {
      border-radius: 8px 0 0 8px; } }
  .article__prev::before {
    left: 8px;
    transform: translateY(-50%) rotate(-135deg); }

.article__next {
  float: right; }
  @media screen and (min-width: 768px) {
    .article__next {
      border-radius: 0 8px 8px 0; } }
  .article__next::before {
    right: 8px;
    transform: translateY(-50%) rotate(45deg); }

.article__prevNextImgWrapper {
  height: 80px;
  position: relative; }
  .article__prevNextImgWrapper::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, #000 0, rgba(0, 0, 0, 0.2) 50%, #000 100%); }
  .article__prevNextImgWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.article__prevNextTitle {
  max-width: calc(100% - 32px);
  position: absolute;
  top: 8px;
  font-size: 1.2rem;
  font-weight: 300; }
  .article__prevNextTitle--prev {
    left: 20px; }
  .article__prevNextTitle--next {
    right: 20px; }

.articleBody h1, .articleBody h2, .articleBody h3, .articleBody h4, .articleBody h5, .articleBody h6 {
  margin-bottom: 8px;
  line-height: 1.2; }

.articleBody h1 {
  font-size: 2.8rem;
  font-weight: 600; }

.articleBody h2 {
  font-size: 2.4rem;
  font-weight: 600; }

.articleBody h3 {
  font-size: 2rem;
  font-weight: 600; }

.articleBody h4 {
  font-size: 1.8rem;
  font-weight: 600; }

.articleBody h5 {
  font-size: 1.6rem;
  font-weight: 600; }

.articleBody h6 {
  font-size: 1.4rem;
  font-weight: 600; }

.articleBody p {
  margin-bottom: 12px;
  font-size: 1.4rem;
  line-height: 2; }

.articleBody a {
  font-weight: 600; }

.articleBody pre {
  margin-bottom: 12px;
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  font-size: 1.4rem; }

.articleBody ul, .articleBody ol {
  margin-bottom: 12px;
  padding-left: 20px; }
  .articleBody ul > li, .articleBody ol > li {
    font-size: 1.4rem;
    line-height: 2; }
    .articleBody ul > li > ul, .articleBody ol > li > ul {
      margin-bottom: 0; }

.articleBody blockquote {
  margin-bottom: 12px;
  padding: 8px 8px 8px 32px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  position: relative; }
  .articleBody blockquote::before {
    display: block;
    content: "\00201d";
    position: absolute;
    top: 0;
    left: 8px;
    font-size: 4rem; }
  .articleBody blockquote > p {
    font-style: italic; }

.articleBody img {
  margin: 0 -20px;
  width: calc(100% + 40px);
  height: 100%;
  object-fit: contain; }
  @media screen and (min-width: 768px) {
    .articleBody img {
      margin: 0;
      width: 100%; } }

.articleBody hr {
  margin-bottom: 12px;
  border: 1px solid rgba(255, 255, 255, 0.4); }

.articleBody iframe {
  width: 100%; }

.worksList {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none; }
  .worksList__item {
    width: 50%; }
    @media screen and (min-width: 768px) {
      .worksList__item {
        width: 20%; } }
  .worksList__link {
    padding-top: 100%;
    display: block;
    position: relative; }
  .worksList__imgWrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
    .worksList__imgWrapper > img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .worksList__titleWrapper {
    padding: 8px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(transparent 0, rgba(0, 0, 0, 0.2) 20%, #000 100%); }
  .worksList__title {
    margin-bottom: 8px; }

.post-categories {
  padding: 8px 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  .post-categories > li {
    margin: 4px; }
    .post-categories > li > a {
      display: block;
      padding: 4px 8px;
      border: 1px solid rgba(255, 255, 255, 0.4);
      border-radius: 4px;
      font-size: 1.2rem; }

.error {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .error__text {
    font-size: 1.6rem; }
    .error__text:not(:last-of-type) {
      margin-bottom: 20px; }

.footer {
  padding: 20px;
  height: 80px;
  display: flex;
  justify-content: center;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.6)); }
  .footer__copy {
    font-size: 1.2rem;
    width: 100%;
    letter-spacing: .4rem; }
    @media screen and (min-width: 768px) {
      .footer__copy {
        width: 1048px; } }

.js-toggleHeader {
  transition: all .5s ease;
  transform: translateY(-100%); }
  .js-toggleHeader.show {
    transform: translateY(0); }

.js-youtube {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 1s ease;
  opacity: 0; }
  .js-youtube.show {
    opacity: 1; }
  .js-youtube.dark {
    opacity: .2; }
