.contents {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: $white-l;
  &--top {
    padding: 0;
    width: 96vmin;
    height: 96vmin;
    justify-content: center;
  }
  @include mq() {
    width: 600px;
    &--top {
      width: 96vmin;
    }
  }
  &__link {
    margin-bottom: 60px;
    display: block;
    width: 100%;
    @include mq() {
      margin-bottom: 120px;
    }
  }
  &__name,
  &__mainLogo {
    color: $white-l;
  }
  &__name {
    margin-bottom: 24px;
    font: {
      size: 5vmin;
      weight: 200;
    }
    letter-spacing: 1.8vmin;
    text-indent: .8rem;
    text-align: center;
    @include mq() {
      margin-bottom: 32px;
    }
  }
  &__mainLogo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font: {
      weight: 300;
    }
  }
  &__logoBlock {
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__logoChar {
    display: block;
    font: {
      family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", YuGothic, sans-serif;
      size: 26vmin;
      weight: 400;
    }
    line-height: 1;
    @include mq() {
      font-weight: 300;
    }
  }
  &__title {
    display: block;
    line-height: 1;
    text-align: center;
    letter-spacing: 3vmin;
    font: {
      size: 5vmin;
      weight: 600;
    }
  }
  &__text {
    margin-bottom: 4px;
    text-align: center;
    &:last-child {
      margin-bottom: 0;
    }
    @include mq() {
      display: flex;
      justify-content: center;
      font-size: 1.2rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__textBlock {
    margin-bottom: 2px;
    display: block;
    &:last-child {
      margin-bottom: 0;
    }
    @include mq() {
      margin: 0 20px 0 0;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__descWrapper {
    margin-bottom: 40px;
    width: 100%;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__nav {
    width: 100%;
  }
}
