.contents {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: $white-l;
  &--top {
    padding-top: 40px;
  }
  @include mq() {
    padding: 20px 0;
    width: 600px;
  }
  &__name {
    margin-bottom: 24px;
    font: {
      size: 1.2rem;
      weight: 200;
    }
    letter-spacing: .6rem;
    text-indent: .8rem;
    text-align: center;
    @include mq() {
      margin-bottom: 32px;
      font-size: 1.8rem;
      letter-spacing: 1.3rem;
      text-indent: 1.6rem;
    }
  }
  &__mainLogo {
    margin-bottom: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font: {
      weight: 300;
    }
    @include mq() {
      margin-bottom: 120px;
    }
  }
  &__logoBlock {
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    width: 280px;
    @include mq() {
      margin-bottom: 40px;
      width: 520px;
    }
  }
  &__logoChar {
    display: block;
    font: {
      family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", YuGothic, sans-serif;
      size: 8rem;
      weight: 400;
    }
    line-height: 1;
    @include mq() {
      font: {
        size: 15rem;
        weight: 300;
      }
    }
  }
  &__title {
    display: block;
    line-height: 1;
    text-align: center;
    letter-spacing: 1rem;
    font: {
      size: 1.6rem;
      weight: 600;
    }
    @include mq() {
      font-size: 2rem;
      letter-spacing: 2rem;
    }
  }
  &__text {
    margin-bottom: 4px;
    text-align: center;
    &:last-child {
      margin-bottom: 0;
    }
    @include mq() {
      display: flex;
      justify-content: center;
      font-size: 1.2rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__textBlock {
    margin-bottom: 2px;
    display: block;
    &:last-child {
      margin-bottom: 0;
    }
    @include mq() {
      margin: 0 20px 0 0;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__descWrapper {
    margin-bottom: 40px;
    width: 100%;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__nav {
    width: 100%;
    @include mq() {
      width: 500px;
    }
  }
}
