.globalNavList {
  display: flex;
  list-style-type: none;
  &__item {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    color: $white-l;
    font-size: 1.4rem;
    letter-spacing: .2rem;
    &--disabled {
      pointer-events: none;
      opacity: .8;
    }
    @include mq() {
      font-size: 1.6rem;
    }
  }
}
