.navButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: none;
  &--disabled {
    opacity: .6;
    pointer-events: none;
  }
  &__text {
    color: $white-l;
    font: {
      size: 5vmin;
      weight: 600;
    }
    letter-spacing: .1rem;
  }
}
