.videoController {
  position: relative;
  &__button {
    position: absolute;
    top: 0;
    right: 0;
    transition: all .5s ease;
    width: 28px;
    height: 28px;
    text-indent: -9999px;
    outline: none;
    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 1px;
    }
    &--play {
      opacity: 0;
      pointer-events: none;
      &::before {
        border: {
          style: solid;
          width: 8px 20px;
          color: transparent;
        }
        border-left-color: $white-l;
        margin-left: 10px;
      }
    }
    &--pause {
      opacity: 1;
      &::before,
      &::after {
        width: 6px;
        height: 20px;
        background-color: $white-l;
      }
      &::before {
        margin-left: -6px;
      }
      &::after {
        margin-left: 6px;
      }
    }
  }
}
