.aboutTable {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  &__head,
  &__data {
    padding: 8px 0;
  }
  &__head {
    padding-top: 10px;
    width: 64px;
    font-size: 1rem;
    text-align: left;
    vertical-align: top;
    line-height: 1.6;
    &--sub {
      padding-top: 8px;
      width: 48px;
      @include mq() {
        width: 48px;
      }
    }
    @include mq() {
      width: 72px;
      font-size: 1.2rem;
    }
  }
  &__text {
    margin-bottom: 4px;
    font-size: 1.2rem;
    line-height: 1.6;
    @include mq() {
      font-size: 1.4rem;
    }
    &--sub {
      display: flex;
      font-size: 1rem;
      margin-bottom: 2px;
      @include mq() {
        font-size: 1.2rem;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__labelText {
    display: block;
    width: 120px;
    flex-shrink: 0;
    vertical-align: top;
    &:last-child {
      width: auto;
      flex-shrink: 1;
    }
    @include mq() {
      width: 144px;
    }
  }
  &__subText {
    font-size: 1rem;
    margin-left: 8px;
    &--prefix {
      margin: 0 8px 0 0;
    }
  }
  &__link {
    font-weight: 600;
  }
  &__mobileBreak {
    display: block;
    @include mq() {
      display: none;
    }
  }
}
