.articleBody {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 8px;
    line-height: 1.2;
  }
  h1 {
    font: {
      size: 2.8rem;
      weight: 600;
    }
  }
  h2 {
    font: {
      size: 2.4rem;
      weight: 600;
    }
  }
  h3 {
    font: {
      size: 2rem;
      weight: 600;
    }
  }
  h4 {
    font: {
      size: 1.8rem;
      weight: 600;
    }
  }
  h5 {
    font: {
      size: 1.6rem;
      weight: 600;
    }
  }
  h6 {
    font: {
      size: 1.4rem;
      weight: 600;
    }
  }
  p {
    margin-bottom: 12px;
    font-size: 1.4rem;
    line-height: 2;
  }
  a {
    font-weight: 600;
  }
  pre {
    margin-bottom: 12px;
    padding: 8px;
    border: 1px solid rgba($white-l, .4);
    border-radius: 4px;
    font-size: 1.4rem;
  }
  ul, ol {
    margin-bottom: 12px;
    padding-left: 20px;
    > li {
      font-size: 1.4rem;
      line-height: 2;
      > ul {
        margin-bottom: 0;
      }
    }
  }
  blockquote {
    margin-bottom: 12px;
    padding: 8px 8px 8px 32px;
    border: 1px solid rgba($white-l, .4);
    border-radius: 4px;
    position: relative;
    &::before {
      display: block;
      content: "\00201d";
      position: absolute;
      top: 0;
      left: 8px;
      font-size: 4rem;
    }
    > p {
      font-style: italic;
    }
  }
  img {
    margin: 0 -20px;
    width: calc(100% + 40px);
    height: 100%;
    object-fit: contain;
    @include mq() {
      margin: 0;
      width: 100%;
    }
  }
  hr {
    margin-bottom: 12px;
    border: 1px solid rgba($white-l, .4);
  }
  iframe {
    width: 100%;
    height: 56.25%;
  }
}
