.blogList {
  width: 100%;
  padding: 20px;
  list-style: none;
  &__item {
    &:not(:last-child) {
      border-bottom: 1px solid $black-m;
    }
  }
  &__link {
    padding: 12px 0;
    display: flex;
    align-items: center;
  }
  &__title {
    font: {
      size: 3.2rem;
      weight: 200;
    }
  }
  &__headline {
    margin-bottom: 12px;
    font-size: 1.2rem;
    color: $gray-l;
  }
  &__date {
    font-size: 1.4rem;
  }
  &__imgWrapper {
    margin-right: 12px;
    img {
      width: 120px;
      height: 120px;
      object-fit: cover;
      border: 1px solid rgba($white-l, .2);
      border-radius: 4px;
    }
  }
}
