.navButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: none;
  &--disabled {
    opacity: .6;
    pointer-events: none;
  }
  &__text {
    font: {
      size: 1.6rem;
      weight: 600;
    }
    letter-spacing: .1rem;
    @include mq() {
      font-size: 2.4rem;
    }
  }
}
